<mat-card class="profilCard">
    <mat-card-header>
      <img mat-card-avatar src="../../../assets/images/kristofProfile.jpg" alt="just me" >
      <mat-card-title>Kristóf Kóczán</mat-card-title>
      <mat-card-subtitle>Photographer/Coffee addict/Frontend developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/kristofProfile.jpg" alt="Just me but bigger">
    <mat-card-content>
      <p>
            Hi, My name is Kristóf and that's my website powered by Google's Angular. Currently I 
            am a student of IT Engineering part of SZTE. I work for the Scolia technologies as a 
            half-time job. My addictions are photography and coffee - of course you know that...probably....
            I mean You're here which means you know me, right? If nope, just leave me alone with my coffee you 
            creep. Oh, and tell your mom you love her!
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button>Contact Me</button>
    </mat-card-actions>
</mat-card>